.chats {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 40px 10px 0 20px;
  display: flex;
  flex-direction: column;
  background: #f2f0f4;
  .border-top {
    height: 60px;
    border-bottom: 1px solid #4e484680;
  }
  .no-chats {
    flex-grow: 1;
    p {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .chats-list {
    margin-top: 10px;
    flex-grow: 1;
    overflow: auto;
    .search-results {
      width: 100%;
      padding: 5px 5px;
      margin-bottom: 10px;
      .list-title {
        color: #e9432b;
      }
    }

    .chat {
      height: 80px;
      display: flex;
      justify-content: space-between;
      background: white;
      border-radius: 5px;
      margin-bottom: 10px;
      transition: 0.5s;
      position: relative;
      @media (max-width: 1250px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .chat_content {
        display: flex;
        align-items: center;
        .avatar {
          width: 50px;
          height: 50px;
          background: #a1a1a5;
          border-radius: 50%;
          margin-right: 5px;
          margin-left: 10px;
          cursor: pointer;
          @media (max-width: 1250px) {
            margin: 0;
          }
          p {
            color: #4b4b96;
            font-weight: bold;
            text-align: center;
            line-height: 50px;
            font-family: "Seymour One", sans-serif;
          }
        }
        .chat-wrap {
          margin-left: 10px;
          height: 60px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          @media (max-width: 1250px) {
            display: none;
          }
          .chat-name {
            color: #423d3b;
            font-size: 20px;
          }
          .chat-text {
            font-size: 16px;
            color: #4e4846;
          }
        }
      }
      .data-time {
        padding: 15px 10px;
        @media (max-width: 1250px) {
          display: none;
        }
        p {
          font-size: 12px;
          color: #4e4846d5;
        }
      }
      &:hover {
        transform: scale(0.97);
      }
      .delete-chat {
        display: none;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        p {
          font-size: 20px;
        }
        &:hover {
          font-size: 25px;
          font-weight: bold;
        }
      }
      &:hover .delete-chat {
        display: block;
      }
    }
    .active {
      border-left: 4px solid #e9432b;
    }
  }
  .clean-chats-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 50px;
      padding: 10px;
    }
    p {
      color: #4e4846;
    }
  }
}
